/* Banner Section Style Start */
.banner-area {
  position: relative;
}
.banner {
  width: 100%;
  height: 320px;
  background-image: url(../images/main/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-title {
  font-size: 3rem;
  font-weight: 500;
}
.banner-path span {
  font-weight: 500;
}
/* ==================================================== */
/* Filtering Area Styling Start */
.filtering-area {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #f9f1e7;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-div,
.short-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.show-div input {
  width: 30px;
  font-size: 1rem;
  border: none;
  padding: 5px;
  color: #898989;
}
.short-div {
  margin-left: 10px;
}
.short-div input {
  width: 100px;
  font-size: 1rem;
  border: none;
  padding: 5px;
  color: #898989;
}
/* Filtering Area Styling End */
/* ==================================================== */
/* Banner Section Style End */
/* Product Section Style Start */
.products-area {
  text-align: center;
}
.product-area-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 1.5rem 0;
}
.products-content-area {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  justify-items: center;
}

.product-content {
  position: relative;
  background-color: #f4f5f7;
  width: fit-content;
  margin: 1.5rem 0;
}
.add-to-card {
  background-color: #fff;
  color: #b88e2f;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}
.social-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  gap: 1rem;
  margin-top: 1.7rem;
}
.icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-div span {
  margin-left: 5px;
}

.product-main {
  display: block;
  width: 100%;
  height: auto;
}

.product-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3a3a3a;
  padding: 0 2rem;
}

.product-content:hover .product-hover {
  opacity: 0.8;
}

.social-icons {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.product-img {
  position: relative;
}
.product-tag-dis {
  position: absolute;
  top: 1.5rem;
  left: 13rem;
  background-color: #e97171;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.product-tag {
  position: absolute;
  top: 1.5rem;
  left: 13rem;
  background-color: #2ec1ac;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.prodcut-text {
  padding: 1rem;
}
.product-title {
  color: #3a3a3a;
  font-size: 1.5rem;
}
.product-text {
  color: #898989;
}
.product-price-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-price {
  font-size: 1.1rem;
  font-weight: 500;
}
.actual-price {
  color: #b0b0b0;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: line-through;
}
.show-btn {
  margin-top: 3rem;
}
.show-btn ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
}
.page-no {
  text-decoration: none;
  color: #000000;
  background-color: #f9f1e7;
  padding: 10px 20px;
  border-radius: 5px;
}
#active {
  background-color: #b88e2f;
  color: #ffffff;
}

.service-area {
  width: 100%;
  height: 100%;
  background-color: #faf3ea;
  padding: 5rem;
  margin-top: 5rem;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.service-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.service-items img {
  width: 60px;
}
.service-items h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.service-items p {
  color: #898989;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .products-content-area {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    justify-items: center;
  }
}
