* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1440px; */
  font-family: "Poppins", sans-serif;
}

/* Nevigation Bar Styling Start */
.navbar-area {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.nav-logo {
  width: 185px;
  height: 41px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.nav-list {
  list-style: none;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.icons img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* Nevigation Bar Styling End */
/* Hero Section Styling Start */
.hero-area {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  background-image: url(../images/main/wall-decal-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-box {
  width: 650px;
  height: 450px;
  background-color: #fff3e3;
  float: right;
  margin-top: 6rem;
  margin-right: 5rem;
  padding: 5rem;
}
.arrival {
  font-weight: normal;
  letter-spacing: 0.2rem;
}
.arrival-title {
  color: #b88e2f;
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 5px 0;
}
.arrival-para {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 50px;
}
.arrival-btn {
  background-color: #b88e2f;
  padding: 1.2rem 3.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
/* Hero Section Styling End */
